.drawingbutton{
    height: 75px;
}

.canvas-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: calc(100vh-120px);
    position: relative;
}

canvas {
    border: 3px solid #000;
    width: 800px;
    height: 500px;
}

#toolsLayout{
    display: block;
    width: 100px;
    height: 550px;
    position: relative;
    bottom: 70px;
    right: 50px;
}

input[type="color"] {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 25px;
    padding: 0px;
    margin: 10px;
    transition: 0.3s;
}
input[type="color"]:hover{
    filter: drop-shadow(10px 5px gray);
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 10px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 25px;
    background: black;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  margin-top: -3px;
  background-color: #b1b1b1;
  }
  

#download {
    background-color:  #b1b1b1;
    font-size: 11px;
    width: 100px;
    height: 17px;
}


.buttons{
    list-style: none;
    background-color: rgb(210, 210, 231);
    filter: drop-shadow(10px 5px gray);
    display: flex;
    flex-direction: column-reverse;
    width: 180px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}

.colorSelection{
    list-style: none;
    background-color: rgb(210, 210, 231);
    filter: drop-shadow(10px 5px gray);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 180px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    justify-items: center;
    align-items: center;
}


#redBox{
    width: 40px;
    height: 40px;
    background-color: red;
}
#greenBox{
    width: 40px;
    height: 40px;
    background-color: green;
}
#blueBox{
    width: 40px;
    height: 40px;
    background-color: blue;
}
#orangeBox{
    width: 40px;
    height: 40px;
    background-color: orange;
}
#yellowBox{
    width: 40px;
    height: 40px;
    background-color: yellow;
}
#purpleBox{
    width: 40px;
    height: 40px;
    background-color: purple;
}


.drawingContainer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 15px;
}

.toolBar{
    display: flex;
    justify-content: center;
}

.colorBar{
    display: flex;
    justify-content: center;
}

#myCanvas{
    margin: 0px 0px 0px 0px;
}

#clearButton,#undoButton,#download{
    width:100px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    transition: 0.2s;
    font-size: 15px;
    font-family:sans-serif;
}

#clearButton:hover,#undoButton:hover{
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 3px;
}

#redBox:hover, #greenBox:hover, #blueBox:hover, #orangeBox:hover, #yellowBox:hover, #purpleBox:hover{
    filter: brightness(1.5);
}

.sliderTitle{
    text-align: center;
    font-size: 15px;
    font-family:sans-serif;
}