.leaderboardbutton{
    height: 75px;
}

.title{
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}


.options{
    display:flex;
    gap:30px;
    justify-content: center;
}

.friendSide,.globalSide{
    margin-top: 20px;
    font-size: 20px;
}

.PostsContainer{
    display:flex;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.post{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    padding: 50px;
}

.header{
    border: 1px;
    border-style: solid;
    display:flex;
    border-radius: 5px;
    padding:5px;
    gap: 6px;
    width: 250px;
    height: 50px;
}

.trophy{
 font-size: 30px;
}

.drawing{
    border: 1px;
    border-style: solid;
}

