.profilebutton{
    height: 75px;
}
#profile{
    margin-top: 4cm;
    margin-left: 4px;
    display: flex;
    width: 15cm;
}
.btn{
    background-color:rgb(205, 195, 195);
    padding:14px 28px;
    font-size: 11px;
    text-align: center ;
    cursor: pointer;
    display:inline-block;
    width: fit-content;
    height: 12px;
    border:solid black round;
}
ul{
    list-style-type: none;
}
.column{
 display:flex;
 flex-direction: column;
 padding: 20px;
}
#column1{
    background-image: linear-gradient(lightblue,white);
    width: 24%;
}
#column2{
   border-left: solid black;
   border-right: solid black;
   background-image: radial-gradient(gray,rgb(196, 218, 227));
}
#column3{
    width: 50%;
    align-content: center;
    background-image: linear-gradient(lightblue,white);
}
#column3{
    width: 24%;
}
.h1{
    font-size: large;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
li{
    margin: 10px;
}
.container{
    display: flex;
    justify-content: center;

}
.h3{
    justify-content: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px;
    border-style: ridge;
    filter: drop-shadow(10px 5px gray);
}

.header{
   text-align: center;
}