body{
    margin:0;
}

.nav{
    background-color: rgb(182, 179, 175);
    border-bottom: solid black;
}

.drawingbutton,.explorerbutton,.profilebutton,.leaderboardbutton{
    width: 70px;
    height: 70px;
    font-size: 50px;  
    border-radius: 5px;
    align-self: center;
}

.drawingbutton:hover,.explorerbutton:hover,.profilebutton:hover,.leaderboardbutton:hover{
    box-shadow: 0 4px #898c8d;
    cursor:grab;
}

.nav{
display: flex;
padding: 5px;
margin:0px;
}

.buttoncontainer{
    padding-left: 40px;
    margin:3px;
}

#myCanvas{
    margin-top: 20px;
}


