.page{
    background-color: #DCAD31;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -8px;
}

.button{
    background-color: #DCAD31;
    border: 10px solid black;
    border-radius: 50px;
    height: 90px;
    width: 300px;
    font: 20pt "Cooper Black";
    box-shadow: 4px 4px black;
    margin-top: 200px;

    &:hover {
        cursor: grab;
        box-shadow: 0 0 black;
        transform: translateX(4px) translateY(4px);
    }
}

.title{
    width: 1100px;
    position:absolute;
    top: 170px;
}

.guest{
    font: 14pt "Cooper Black";
    margin-top: 400px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}