/*  Pallet */

.color{
    width: 25px;
    height: 25px;
    margin: 1px;
    border: black 2px solid;
}

.colors{
    display: flex;
    flex-direction: row;
    ;
}

/* general css  */
ul{
    list-style-type: none;
}

.outside{
    margin: 0px 0px 0px 0px;
}

/* column specific */
.column{
 padding: 20px;
 height:600px;
 border-radius: 20px;
 border: solid grey 2px;
 margin-left: 10px;
 margin-right: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#column1{
    background-image: linear-gradient(lightblue,white);
    width: 20%;
}
#column2{
   background-image: radial-gradient(gray,rgb(196, 218, 227));
   width: 60%;
}
#column3{
   width: 20%;
    align-content: center;
    background-image: linear-gradient(lightblue,white);
}

.headerCenter{
    display: flex;
    justify-content: center;
}

.header{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-size: 40px;
}

li{
    margin: 5px;
}

.containerprofile{
    display: flex;
    justify-content: center;
    gap:5px;

}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px;
    border-style: ridge;
    filter: drop-shadow(10px 5px gray);
}

img{
    width:360px;
    height:auto;
margin:0px;
}

.gallaryContainer{
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;


}

