/*  Pallet */

.color{
    width: 25px;
    height: 25px;
    margin: 1px;
    border: black 2px solid;
}

.colors{
    display: flex;
    flex-direction: row;
    ;
}

/* general css  */
ul{
    list-style-type: none;
}

.outside{
    margin: 0px 0px 0px 0px;
}

/* column specific */
.column{
 padding: 20px;
 height:600px;
}

#column1{
    background-image: linear-gradient(lightblue,white);
    width: 20%;
}
#column2{
   border-left: solid black;
   border-right: solid black;
   background-image: radial-gradient(gray,rgb(196, 218, 227));
   width: 60%;
}
#column3{
   width: 20%;
    align-content: center;
    background-image: linear-gradient(lightblue,white);
}


li{
    margin: 5px;
}

.containerprofile{
    display: flex;
    justify-content: center;

}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px;
    border-style: ridge;
    filter: drop-shadow(10px 5px gray);
}
